/* Navbar background */
.navbar {
  background-color: #3255A1
}

.rounded {
  border-radius: 30%;
}

.my-5 li {
  line-height: 1.6; 
}

.title {
  font-size: 2.3em;
  margin-top: 5em;
}

.h1 {
  font-size:2em;
}
   
caption {
  text-align: left;
}

#title-block-header {
  margin-top: 4rem;
}


#TOC {
  margin-top: 4rem;
  padding-left: 2rem;
}

#toc-title {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 0.5rem;
}
